html, body {
  height: 100%;
}

@font-face {
  font-family: Pancetta; /* Имя шрифта */
  src: url("../ttf/Pancetta Serif Pro Regular.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Baron; /* Имя шрифта */
  src: url("../ttf/Baron Neue.otf"); /* Путь к файлу со шрифтом */
}

body {
  font-family: Tahoma;
}

h1 {
  font-family: Baron;
  margin: 0;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-weight: normal;
}

/* Настройка ScrollMagic */
html.touch div#content-wrapper {
  min-width: 700px;
}

#content-wrapper {
  height: 100%;
  max-width: 2880px;
  min-width: 650px;
  min-height: 500px;
}

#content-wrapper section {
  height: 100%;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 650px;
  width: 100%
}

.scrollContent {
  position: relative;
  /*height: 100%;*/
}

#pin-part0 {
  width: 100%;
  height: 100%;
  background-color: #5a41aa;
  color: #fff;
}

#pin-part0 h1 {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 4em;
}

#pin-part0 h3 {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

#part1 {
  width: 100%;
  height: 100%;
  background-color: #2e639e;
  color: #fff;
}

#part1 div {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part2 {
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
  color: #222;
  overflow: hidden;
}

#part2 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50%;
}

#part2 .description a {
  color: #fff;
  font-weight: bolder;
}

#part2 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part2-photo1 {
  background-image: url("../img/docs/001_xxxl.jpg");
}

#part2-photo2 {
  background-image: url("../img/docs/002_xxxl.jpg");
  /*display: none;*/
}

#part2-photo1,
#part2-photo2 {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

#part3 {
  width: 100%;
  height: 100%;
  background-color: #c7e1ff;
  color: #222;
  overflow: hidden;
}

#part3 .list {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  visibility: hidden;
}

#part3 .list img {
  height: 100%;
}

#part3 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part3 .description a {
  color: #fff;
  font-weight: bolder;
}

#part3 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#content-wrapper section#docs-originals {
  height: auto !important;
}

#docs-originals div {
  display: none;
}

#docs-originals .original {
  height: 100%;
  overflow: auto;
  display: none;
}

#docs-originals .original img {
  width: 100%;
}

#docs-originals .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0%;
}

#docs-originals .description a {
  color: #fff;
  font-weight: bolder;
}

#docs-originals .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part4 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part4.png");
  background-repeat: repeat;
  color: #222;
  overflow: hidden;
}

#part4 .list {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  visibility: hidden;
}

#part4 .list img {
  height: 100%;
}

#part4 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part4 .description a {
  color: #fff;
  font-weight: bolder;
}

#part4 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part5 {
  width: 100%;
  height: 100%;
  background-color: #5d3c2b;
  color: #fff;
  overflow: hidden;
}

#part5 .history {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part5 .list {
  position: absolute;
  height: 50%;
  left: -100%;
  top: 25%;
  visibility: hidden;
}

#part5 .list img {
  height: 100%;
}

#part5 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part5 .description a {
  color: #fff;
  font-weight: bolder;
}

#part5 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part6 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part6.png");
  background-repeat: repeat;
  color: #fff;
  overflow: hidden;
}

#part6 .history {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part6 .list {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 100%;
  visibility: hidden;
}

#part6 .list img {
  height: 100%;
}

#part6 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part6 .description a {
  color: #fff;
  font-weight: bolder;
}

#part6 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part7 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part7.jpg");
  background-repeat: repeat;
  color: #fff;
  overflow: hidden;
}

#part7 .history {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part7 .list {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
  visibility: hidden;
}

#part7 .list img {
  height: 100%;
}

#part7 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part7 .description a {
  color: #fff;
  font-weight: bolder;
}

#part7 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part8 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part8.jpg");
  background-repeat: repeat;
  color: #fff;
  overflow: hidden;
}

#part8 .history {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part8 .list {
  position: absolute;
  height: 0;
  width: 0;
  left: 89%;
  top: -30%;
  visibility: hidden;
}

#part8 .list img {
  height: 100%;
}

#part8 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part8 .description a {
  color: #fff;
  font-weight: bolder;
}

#part8 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part9 {
  width: 100%;
  height: 100%;
  background-color: #c4e8bb;
  color: #222;
}

#part9 .history {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 15%;
  width: 70%;
  font-size: 1.1em;
}

#part10 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part10.jpg");
  background-repeat: repeat;
  color: #fff;
  overflow: hidden;
}

#part10 .history {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part10 .list {
  position: absolute;
  height: 0;
  width: 0;
  left: -100%;
  top: 20%;
  visibility: hidden;
}

#part10 .list img {
  height: 100%;
}

#part10 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part10 .description a {
  color: #fff;
  font-weight: bolder;
}

#part10 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part11 {
  width: 100%;
  height: 100%;
  background-color: #e7e8bc;
  color: #222;
}

#part11 .history {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part12 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part12.jpg");
  background-repeat: repeat;
  color: #fff;
  overflow: hidden;
}

#part12 .history {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part12 .list {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
  visibility: hidden;
}

#part12 .list img {
  height: 100%;
}

#part12 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part12 .description a {
  color: #fff;
  font-weight: bolder;
}

#part12 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part13 {
  width: 100%;
  height: 100%;
  background-color: #287b57;
  color: #fff;
}

#part13 .history {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 15%;
  width: 70%;
  font-size: 1.2em;
}

#part14 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part14.jpg");
  background-repeat: repeat;
  color: #222;
  overflow: hidden;
}

#part14 .list {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  visibility: hidden;
}

#part14 .list img {
  height: 100%;
}

#part14 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part14 .description a {
  color: #fff;
  font-weight: bolder;
}

#part14 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part15 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part15.gif");
  background-repeat: repeat;
  color: #fff;
  overflow: hidden;
}

#part15 .history {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  font-size: 1.4em;
}

#part15 .list {
  position: absolute;
  height: 0;
  width: 0;
  left: 89%;
  top: -30%;
  visibility: hidden;
}

#part15 .list img {
  height: 100%;
}

#part15 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  visibility: hidden;
}

#part15 .description a {
  color: #fff;
  font-weight: bolder;
}

#part15 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part16 {
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
  color: #222;
  overflow: hidden;
}

#part16 .description {
  background-color: rgba(25,25,25,0.7);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50%;
}

#part16 .description a {
  color: #fff;
  font-weight: bolder;
}

#part16 .description span {
  display: inline-block;
  width: 70%;
  left: 15%;
  padding: 25px 0 15px 0;
}

#part16-photo1 {
  background-image: url("../img/docs/016_xxxl.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

#part17 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_part17.jpg");
  color: #222;
  overflow: hidden;
}

#part17 .arrow {
  position: absolute;
  bottom: 7em;
  text-align: center;
  width: 100%;
  height: 50%;
}

#part17 .arrow img {
  height: 100%;
}

#part17 h1 {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 3em;
}

#part17 h1 a {
  color: #222;
}

#not-supported {
  z-index: 9998;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2e639e;
  color: #fff;
}

#not-supported a {
  font-weight: bolder;
  color: #fff;
}

#not-supported h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 5%;
}

#not-supported .description {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
}

#loader-screen {
  position: absolute;
  position: fixed;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  z-index: 9997;
  background-image: url("../img/yarregion.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
}